torch
transformers
accelerate
bitsandbytes
langchain
langchain-huggingface
langchain-community
upstash-vector
fastapi
uvicorn
python-multipart
pypdf
torch
sentence-transformers
huggingface_hub
pypdf
unstructured
networkx
fastapi
requests
